@using Microsoft.AspNetCore.Identity;
@inject SignInManager<Users> signInManager;


<img src="img/apple-touch-icon.png" alt="" class="navbar-logo" style="height: 50px; margin-right: 10px;" />
<ul class="navbar-nav ms-auto align-items-center">
    @if (signInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <span class="nav-link" style="margin-right: 20px;">Merhaba, @User.Identity.Name</span>
        </li>
        <li class="nav-item">
            <a class="nav-link appointment-btn btn btn-primary btn-xl text-light rounded-pill" asp-controller="Account" asp-action="Logout">Çıkış yap</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link appointment-btn btn btn-primary btn-xl text-light rounded-pill" asp-controller="Account" asp-action="Login">Giriş Yap</a>
        </li>
        <li class="nav-item">
            <a class="nav-link appointment-btn btn btn-primary btn-xl text-light rounded-pill" asp-controller="Account" asp-action="Register">Kayıt Ol</a>
        </li>
    }
    <li class="nav-item">
        <a class="nav-link appointment-btn btn btn-primary btn-xl text-light rounded-pill" href="@Url.Action("Create", "Requests")">Talep Oluştur</a>
    </li>
    <li class="nav-item">
        <a class="nav-link appointment-btn btn btn-primary btn-xl text-light rounded-pill" href="@Url.Action("Show", "ShowRequest")">Talep Görüntüle</a> <!-- Güncellendi -->
    </li>
</ul>