@model Climassist_demo.ViewModels.LoginViewModel

<h2>Login</h2>
<link rel="stylesheet" href="~/css/Login.css" />

<form asp-action="Login" method="post">
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label>
            <input asp-for="RememberMe" /> Remember Me
        </label>
    </div>
    <button type="submit">Login</button>
</form>

<div>
    <a asp-action="Register">Don't have an account? Register</a>
</div>
