@model Climassist_demo.ViewModels.RequestViewModel

<h2>Create Request</h2>

<form asp-action="Create" method="post">
    <div>
        <label>Full Name:</label>
        <input asp-for="FullName" required />
    </div>
    <div>
        <label>Email:</label>
        <input asp-for="Email" required type="email" />
    </div>
    <div>
        <label>Company Type:</label>
        <input asp-for="CompanyType" />
    </div>
    <div>
        <label>Phone:</label>
        <input asp-for="Phone" type="number" required />
    </div>
    <div>
        <label>Request Type:</label>
        <input asp-for="RequestType" required />
    </div>
    <div>
        <label>Spare Part Type:</label>
        <input asp-for="SparePartType" />
    </div>
    <div>
        <label>Recovery Time:</label>
        <input asp-for="RecoveryTime" />
    </div>
    <div>
        <label>Unit Type:</label>
        <input asp-for="UnitType" />
    </div>
    <div>
        <label>Message:</label>
        <textarea asp-for="Message"></textarea>
    </div>
    <button type="submit">Submit</button>
</form>
